@import "tailwindcss";

/* Global reset */
* {
  box-sizing: border-box;
}

/* App background */
body {
  margin: 0;
  background-color: #fff7e6;
  display: flex;
  justify-content: center;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.35s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.35s ease-out;
}